html, body {
    background: #FCFCFC;
}

.bg-white {
    background: #FFF !important;
}

h1 {
    color: #333;
}
.text-bold {font-weight: 600;}
.btn {
    /*padding: 8px 15px;*/
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

.btn-primary {
    background: #0062cc;
}
