<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagina di Template</title>
    <div class="tmp" th:replace="fragment/structure.html :: metaDataHead"></div>
    <div th:replace="fragment/structure.html :: globalCss"></div>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">LOGO/IMG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/login}">Accedi </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/registrati}">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/api/guida/1}">TESTA ROTTA AUTENTICATA</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>






























    <h1>Pagina dinamica v1</h1>
    <div>
        <p>Data e ora: <span th:text="${dataora}">testo da cambiare</span></p>
    </div>

    <div>
        <p>dtobj: <span th:text="${dtobj}">.....</span></p>
        <p>dtobj: <span th:text="${dtobj.year}">.....</span></p>
        <p>dtobj: <span th:text="${dtobj.getYear()}">.....</span></p>
    </div>

    <div>
        <ul>
            <li th:each="item,idx : ${estratti}">
                <span th:text="${idx.count}"></span>° numero estratto:
                <span th:text="${item}" th:class="${item%2==0 ? 'pari':'dispari'}"></span>
            </li>
        </ul>
    </div>


<div th:replace="fragment/structure.html :: scriptJS"></div>
</body>
</html>