<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>
<body>
<div class="registration">
    <form method="post" th:action="@{/api/register}">
        <p>Inserisci nome:</p><input type="text" name="nome" placeholder="nome">
        <p>Inserisci cognome:</p><input type="text" name="cognome" placeholder="cognome">
        <p>Inserisci mail:</p><input type="email" name="email" placeholder="email">
        <p>Inserisci password:</p><input type="password" name="password" placeholder="password">
        <br>
        <button type="submit">REGISTRATI</button>
    </form>
</div>
</body>
</html>